<!doctype html>
<html lang="en">

<head>
	<title>InspireU</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/materialize.css" rel="stylesheet" type="text/css" media="screen,projection"/>
  	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">

	<!-- for search overlay -->
	<link href="/css/search.css" rel="stylesheet">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>

	{{>facebook}}
	{{>google}}
