<!-- bookmark success popup -->
<div class="notification-hidden">
  <div class="bookmark-popup">
    <img id="check-icon" src="/images/icons/check-500.png" alt=""> Added to Your Profile
  </div>
</div>

<!-- bookmark fail popup -->
<div class="notification-hidden">
  <div class="bookmark-fail-popup">
    <img id="check-icon" src="/images/icons/x-mark.png" alt=""> Sign in to bookmark
  </div>
</div>

<!-- like success popup -->
<div class="notification-hidden">
  <div class="like-popup">
    <img id="check-icon" src="/images/icons/heart-popup.png" alt="">
  </div>
</div>

<!-- like fail popup -->
<div class="notification-hidden">
  <div class="like-fail-popup">
    <img id="check-icon" src="/images/icons/x-mark.png" alt=""> Sign in to like
  </div>
</div>

<!-- login/register success popup -->
<div class="notification-hidden">
  <div class="login-popup">
    <img id="check-icon" src="/images/icons/check-500.png" alt=""> You are now logged in
  </div>
</div>

<!-- login fail popup -->
<div class="notification-hidden">
  <div class="login-fail-popup">
    <img id="check-icon" src="/images/icons/x-mark.png" alt=""> Incorrect login information
  </div>
</div>

<!-- register fail popup -->
<div class="notification-hidden">
  <div class="register-fail-popup">
    <img id="check-icon" src="/images/icons/x-mark.png" alt=""> Email already exists
  </div>
</div>