{{>header}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body {
    height: 100%;
    margin: 0;         /* Reset default margin on the body element */
}

iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    color:blue;
    width: 100%;
    height: 100%;
}

.holder{
    width:100%;
    height:100%;
}
.bar{
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height:100%;


}


</style>
</head>

<body onload="goBack()">
	{{>searchbar}}

<script>
function goBack() {
	//$(".iframe").attr('src', document.referrer);
	//$(".penis").load("/profile");

    window.location.href = document.referrer;

    //window.history.back();
}


</script>
{{>script}}
</body>
</html>