
.share {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "email send copy";
  height: 4rem;
  border-radius: 0.5rem;

}


.share2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "email send";
  height: 4rem;
  border-radius: 0.5rem;

}


.preview {
  background-color: gray;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.preview-content{

  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.url {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shareBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
  font-size: 1.5rem;
  width: 100%;
  background-color: #26a69a;
  color: white;
}

#media {

  width: 100%;
  height: 100%;
}

#group-chat-send-a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#email::placeholder{
  color: black;
}

#username::placeholder{
  color: black;
}
.required{
  margin: 0 2rem;

}

.nav-cover-down{
  width: 100%;
  height: 5rem;
}
